<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Your Receipt</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Reservation Confirmed</h1>

  <div *ngIf="reservation">
    <p><strong>Reservation Id: </strong> <span style="color: blue;">{{ generateReservationId() }}</span></p>
    <p><strong>Car Type: </strong> <span style="color: blue;">{{ reservation.carType }}</span></p>
    <p><strong>Length of Rental: </strong> <span style="color: blue;">{{ reservation.hours }} hours</span></p>
    <p><strong>Reservation Date: </strong> <span style="color: blue;">{{ reservation.date }}</span></p>
    <p><strong>Car Seat Required: </strong> <span style="color: blue;">{{ reservation.carSeat ? 'Yes' : 'No' }}</span></p>
    <p><strong>Subtotal: </strong> <span style="color: blue;">${{ calculateSubtotal().toFixed(2) }}</span></p>
    <p><strong>Tax: </strong> <span style="color: blue;">${{ calculateTax(calculateSubtotal()).toFixed(2) }}</span></p>
    <p><strong>Total: </strong> <span style="color: blue;">${{ calculateTotal(calculateSubtotal(), calculateTax(calculateSubtotal())).toFixed(2) }}</span></p>
  </div>

  <ion-button expand="full" (click)="router.navigate(['/'])">Back</ion-button>
</ion-content>