<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Create Your Reservation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Aanand's Car Rental Form</h1>

  <div *ngIf="errorMessage.length >0" style="background-color: rgb(226, 222, 210); padding: 5px;">
    <br>
    <ion-text style="color: red;">Please fix these issues with your form:</ion-text>
    <ul>
      <li *ngFor="let messageShow of errorMessage"  style="color: red;">{{ messageShow }}</li>
    </ul>
  </div>

<br>
  <ion-label>What type of car?</ion-label>
  <div class="cartype">
    <ion-list>
      <ion-item>
        <ion-select [(ngModel)]="reservation.carType" aria-label="carType" value="sedan" required style="margin-left: 90%;">
          <ion-select-option value="sedan">Sedan</ion-select-option>
          <ion-select-option value="suv">SUV</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </div>
  <br>

  <ion-label>Enter the reservation date:</ion-label>
  <div class="date">
    <ion-input [(ngModel)]="reservation.date" name="date" type="date" required></ion-input>
  </div>

  <br>

  <ion-label>Enter the number of hours:</ion-label>
  <div class="hours">
    <ion-input [(ngModel)]="reservation.hours" name="hours" type="number" min="1" max="96" required style="margin-left: 10%;"></ion-input>
  </div>

  <br>

  <div>
    <ion-label>Do you need a car seat?  </ion-label>
    <ion-checkbox [(ngModel)]="reservation.carSeat" name="carSeat"></ion-checkbox>
  </div>

  <br>
  <br>

  <ion-button expand="flex" (click)="buttonSubmit()">Reserve</ion-button>
  <ion-button expand="flex" fill="clear" (click)="buttonReset()">Reset</ion-button>

</ion-content>